Repository Elice-PnP/irumi, pull requests merged in 2021-09, with the labels that each got.

#32 make react directory
  client/src/App.js
  client/src/Components/BottomTapBar/BottomTapBarSample.jsx
  client/src/Components/SampleComponents.jsx
  client/src/Components/SideBar/SideBarSample.jsx
  client/src/Components/TopBar/TopBarSample.jsx
  client/src/Redux/action.js
  client/src/Redux/reducer.js
  client/src/Redux/store.js
  client/src/Routes/Routes.jsx
  client/src/Views/LoginView/LoginView.jsx
  client/src/Views/SignUpView/SignUpView.jsx
  server/requirements.txt
Labels: task, client

#34 create User model-revision
  server/models.py
Labels: task, server, P0

#40 create Topbar
  client/package.json
  client/src/Components/TopBar/Navigation.jsx
  client/src/Components/TopBar/TopBar.jsx
  client/src/Routes/Routes.jsx
  client/yarn.lock
Labels: feature, client, P0

#44 회원가입, 로그인, 로그아웃 api 구현 및 server 디렉토리 구조 리팩토링
  server/app.py
  server/irumi_server/__init__.py
  server/irumi_server/api/user.py
  server/irumi_server/models.py
  server/migrations/versions/6a0b5952ab6f_add_user_model.py
  server/requirements.txt
Labels: task, server, P0
